{% extends 'base.html' %}

{% block content %}
<h2>Create New User</h2>
<form id="createUserForm" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.role.label }}<br>
        {{ form.role() }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
